doctype html
html
  head
    meta(charset='utf-8')
    title 100 Days of Making Reblogger
    link(rel='stylesheet', href='css/app.css', media='screen', title='no title')
  body
    .container
      h1 100 Days of Making
      block content
