extends layout.pug

block content
  h2 Login
  form(method='post', action='/login')
    input(type='password', name='password', placeholder='Password')
    br
    input(type='submit', value='Login')
  div
    | #{ status }
