.container {
  text-align: center;
}

.logo {
  margin: 70px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #151718;
  color: white;
}

h1, h2 {
  font-weight: 200;
}

.input-box {
  width: 50%;
  font-size: 1.1rem;
  min-height: 30px;
  padding: 10px 20px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: none;
  text-align: center;
}

.input-url {
  color: rgba(255,255,255,1);
  background: rgb(47, 47, 47);
}

.btn {
  cursor: pointer;
  border: none;
  margin: 20px;
  border-radius: 7px;
  width: 100px;
  min-height: 35px;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.btn:hover {
  opacity: 0.8
}

.green-blue-gradient {
  background: rgba(21,189,167,1);
  background: -moz-linear-gradient(-45deg, rgba(21,189,167,1) 0%, rgba(36,163,222,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(21,189,167,1)), color-stop(100%, rgba(36,163,222,1)));
  background: -webkit-linear-gradient(-45deg, rgba(21,189,167,1) 0%, rgba(36,163,222,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(21,189,167,1) 0%, rgba(36,163,222,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(21,189,167,1) 0%, rgba(36,163,222,1) 100%);
  background: linear-gradient(135deg, rgba(21,189,167,1) 0%, rgba(36,163,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15bda7', endColorstr='#24a3de', GradientType=1 );
}

.red-pink-gradient {
  background: rgba(237,0,0,1);
  background: -moz-linear-gradient(-45deg, rgba(237,0,0,1) 0%, rgba(219,35,139,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(237,0,0,1)), color-stop(100%, rgba(219,35,139,1)));
  background: -webkit-linear-gradient(-45deg, rgba(237,0,0,1) 0%, rgba(219,35,139,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(237,0,0,1) 0%, rgba(219,35,139,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(237,0,0,1) 0%, rgba(219,35,139,1) 100%);
  background: linear-gradient(135deg, rgba(237,0,0,1) 0%, rgba(219,35,139,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0000', endColorstr='#db238b', GradientType=1 );
}

.info {
  color: #777;
  font-size: 0.9rem;
}

.info .header {
  font-size: 1rem;
}

.success .header {
  color: #8acc26;
}

.failure .header {
  color: #cc263a;
}

a {
  color: rgba(36,163,222,1);
  text-decoration: none;
}

a:hover {
  color: rgba(21,189,167,1);
}
